.Login-Container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.login-left-container {
  width: 60vw;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../../assets/LoginScreens/LoginImage.svg);
  background-size: cover;
  background-position: center;
}

.login-right-container {
  padding-left: 20px;
  flex-direction: column;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-email-input {
  border-radius: 8px;
  border: 1px solid;
}
.login-password-input {
  border-radius: 8px;
  border: 1px solid;
}

.Login-LogoContainer {
  padding: 4% 0 0 4%;
  width: 0;
}
